docs
examples
languages
tests
src
README.md
package.json
LICENSE
Gulpfile.js
editormd.js
editormd.amd.*
CHANGE.md
BUGS.md
bower.json
.jshintic*

logs
*.log
*.pid
*.seed
node_modules/
.sass-cache/
research/
test/
backup/
examples/uploads/**/*
*.bat
*.sh
.project
.url
css/*.map